
<h4 class=" light center header">Create Proyect</h4>

<div class="card ">
  <form class="" action="/login" method="post">
    <div class="card-content">
            <span class="activator grey-text text-darken-4">User</span>
            <input name="title" type="text" class="validate" required="true">

            <span class="activator grey-text text-darken-4">Password</span>
            <input name="asesor" type="text" class="validate" required="true">

            <span class="activator grey-text text-darken-4">Confirm Password</span>
            <input name="author1" type="text" class="validate" required="true">

            <p>
               <a class="modal-trigger" href="#modal1" ><%= __('create') %></a>
               <a class="right" href="">Cancelar</a>
             </p>
     </div>

  </form>
</div>
