

<footer class="page-footer" style=" background-color: rgb(38, 107, 156); margin-top: 5em;">
  <div class="container">
    <div class="row center">
      <div class="col l4 s12">
        <h6 class="white-text">Mapa del Sitio</h6>
        <!--p class="grey-text text-lighten-4">.</p-->
      </div>

      <div class="col l4 s12">
        <h6 class="white-text">Contactanos</h6>
      </div>
      <div class="col l4 s12">
        <a  href="https://www.unicaribe.edu.mx"><h6 class="white-text"> Portal Unicaribe</h6></a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
    Create by <a class="orange-text text-lighten-3" href="">Unicaribe 2016</a>
    </div>
  </div>


</footer>
