<footer>
<div class="container">
  <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h4>Contacto</h4>
          <address>
          <strong>Universidad del Caribe</strong><br>
           SM. 78, Mza. 1, Lote 1, Esquina Fraccionamiento Tabachines<br>
            77528 Cancún, Q.R.>
          <p>
            <i class="icon-phone"></i> 01 998 881 4400 <br>
            <i class="icon-envelope-alt"></i> email@domainname.com
          </p>
        </div>
      </div>
    <div class="col-lg-4">
      <div class="widget">
        <h4>Mapa de sitio</h4>
        <ul class="link-list">
          <li><a href="#">Posgrados</a></li>
          <li><a href="#">Estudiantes</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="widget">
        <h4>Portal Unicaribe</h4>
        <ul class="link-list">
          <li><a href="http://unicaribe.mx/sitios/admisiones2016/inicio.html">Admisiones</a></li>
          <li><a href="http://unicaribe.mx/pagina/oferta-educativa">Oferta educativa</a></li>
          <li><a href="http://www.unicaribe.mx/pagina/estudiantes?opcion=calendario">Calendario Escolar</a></li>
          <li><a href="http://www.unicaribe.mx/pagina/portalunicaribe">Sistemas Informaticos</a></li>
      </div>
    </div>
  </div>
</div>
<div id="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="copyright">
          <p>
            <span>&copy; Ucaribe 2016 All right reserved</span>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="social-network">
          <li><a href="https://www.facebook.com/UniversidadDelCaribeOficial" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/UcaribeOficial" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/edu/universidad-del-caribe-(mx)-15153" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
