<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
              <li class="left"><a href="/login">Sigin</a></li>              
              <li class="active"><a href="/"><%= __('start') %></a></li>
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Catalogo <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cat-autor">Autor</a></li>
                        <li><a href="/cat-titulo">Titulo</a></li>
                        <li><a href="/cat-asesor">Asesor</a></li>
                        <li><a href="/cat-prog">Programa</a></li>
                        <!--li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown">Pages</a>
                          <ul class="dropdown-menu">
                              <li><a href="fullwidth.html">Full width</a></li>
                              <li><a href="right-sidebar.html">Right sidebar</a></li>
                              <li><a href="left-sidebar.html">Left sidebar</a></li>
                              <li><a href="comingsoon.html">Coming soon</a></li>
                              <li><a href="search-result.html">Search result</a></li>
                              <li><a href="404.html">404</a></li>
                              <li><a href="register.html">Register</a></li>
                              <li><a href="login.html">Login</a></li>
                        </ul-->
                      </li>
                  </ul>
            </li>
            <li><a href="/search">Busquedas</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Proyectos <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog-rightsidebar.html">Terminados</a></li>
                        <li><a href="/proye">Proximos Proyectos</a></li>
                    </ul>
            </li>
            <li><a href="/contact">Contactanos</a></li>
            </ul>
        </div>
    </div>
</div>
