<div class="row">
  <div class="col s8 center" >
    <div class="center z-depth-2" style="border: 1px solid black; margin-top: 1.5em; margin-left: 7em;">
      <p>
        <h5>
          Proyecto terminales<br>
          Departamento de Ciencias Básicas e Ingenieria
        </h5>
      </p>
    </div>
  </div>
  <div class="col s4 m2 center">
    <div class="center" style=" margin-top: 1.5em; margin-left: 3em; ">
      <img  src="/images/logoUcaribe.png" class="z-depth-2" style=" width:13em">
    </div>
  </div>
</div>

<nav  role="navigation" style=" background-color: rgb(38, 107, 156);">
  <div class="nav-wrapper container">
    <ul class="hide-on-med-and-down ">
      <li >
          <a href="" >Inicio</a>
          <a href="">Catalogo</a>
          <a href="">Busqueda</a>
          <a href="">Proyectos en puerta</a>
      </li>
    </ul>


    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="http://materializecss.com/templates/starter-template/preview.html#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
