
<!-- Responsive slider - START -->
<div class="slider">
  <div class="">
    <div class="">
      <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
        <div class="slides" data-group="slides">
          <ul>
            <li>
              <div class="slide-body" data-group="slide">
                <img src="img/3.jpg" alt="" class="img-responsive" >
              </div>
            </li>
            <li>
              <div class="slide-body" data-group="slide">
                <img src="img/6.jpg" alt="" class="img-responsive" >
              </div>
            </li>
            <li>
              <div class="slide-body" data-group="slide">
                <img src="img/5.jpg" alt="" class="img-responsive" >
              </div>
            </li>
          </ul>
        </div>
        <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
        <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
  <!-- Responsive slider - END -->
  
<div class="content">
  <h2><span>Nam libero tempore cum solutanobis est eligendi optio cumque</span></h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
  excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
  soluta nobis est eligendi optio cumque nihil impedit quo minus id </p>
</div>
<div class="breadcrumb">
<h4>Recent Works</h4>
</div>
