<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="#">Home</a><i class="icon-angle-right"></i></li>
        <li class="active">Index</li>
      </ul>
    </div>
  </div>
</div>
</section>


  <!-- start slider -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
  <!-- Slider -->
        <div id="main-slider" class="main-slider flexslider">
            <ul class="slides">
              <li>
                <img src="/theme-sailor/img/slides/flexslider/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Ingenieria Industrial</h3>
          <p>Gestionar sistemas de Calidad.
Diseñar y operar procesos.
Gestionar programas de mejoramiento ambiental.
Diseñar y operar estudios de impacto ambiental.</p>
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="/theme-sailor/img/slides/flexslider/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Ingenieria Ambiental</h3>
          <p>Planear, evaluar e implementar proyectos ambientales.
Diseñar procesos biológicos y fisicoquímicos para acondicionar y regenerar agua, suelo y aire.
Dirigir equipos de trabajo multidisciplinarios.
Evaluar tecnologías ambientales.</p>
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="/theme-sailor/img/slides/flexslider/3.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Ingeniería de Datos e Inteligencia Organizacional</h3>
                      <p>Dirigir equipos multidisciplinarios para la gestión de proyectos en entornos con grandes volúmenes de datos.
Desarrollar estrategias para la toma de decisiones en tiempo real basadas en sistemas inteligentes.
Analizar información a partir de grandes volúmenes de datos para la creación de modelos predictivos, de clasificación o segmentación.</p>
          <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
  <!-- end slider -->
      </div>
    </div>
  </div>
