<!DOCTYPE html>
<!-- saved from url=(0066)http://materializecss.com/templates/starter-template/preview.html# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>UnicaribePT - 2016 </title>

  <!-- CSS  -->
  <link href="/materialize/template/icon.css" rel="stylesheet">
  <link href="/materialize/template/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/template/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;jQuery&quot;:&quot;2.1.1&quot;}"><script type="text/javascript" src="chrome-extension://homgcnaoacgigpkkljjjekpignblkeae/detector.js"></script>
</head>
<body>

  <div class="row">
    <div class="col s8 center" >
      <div class="center z-depth-2" style="border: 1px solid black; margin-top: 1.5em; margin-left: 7em;">
        <p>
          <h5>
            Proyecto terminales<br>
            Departamento de Ciencias Básicas e Ingenieria
          </h5>
        </p>
      </div>
    </div>
    <div class="col s4 m2 center">
      <div class="center" style=" margin-top: 1.5em; margin-left: 3em; ">
        <img  src="/images/logoUcaribe.png" class="z-depth-2" style=" width:13em">
      </div>
    </div>
  </div>

  <nav  role="navigation" style=" background-color: rgb(38, 107, 156);">
    <div class="nav-wrapper container">
      <ul class="hide-on-med-and-down ">
        <li >
            <a href="" >Inicio</a>
            <a href="">Catalogo</a>
            <a href="">Busqueda</a>
            <a href="">Proyectos en puerta</a>
        </li>
      </ul>


      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="http://materializecss.com/templates/starter-template/preview.html#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>







  <footer class="page-footer" style=" background-color: rgb(38, 107, 156);">
    <div class="container">
      <div class="row center">
        <div class="col l4 s12">
          <h5 class="white-text">Mapa del Sitio</h5>
          <!--p class="grey-text text-lighten-4">.</p-->
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Contactanos</h5>
        </div>
        <div class="col l4 s12">
          <a  href="https://www.unicaribe.edu.mx"><h5 class="white-text"> Portal Unicaribe</h5></a>
          <!--ul>
            <li><a class="white-text" href="http://materializecss.com/templates/starter-template/preview.html#!">Link 1</a></li>
            <li><a class="white-text" href="http://materializecss.com/templates/starter-template/preview.html#!">Link 2</a></li>
            <li><a class="white-text" href="http://materializecss.com/templates/starter-template/preview.html#!">Link 3</a></li>
            <li><a class="white-text" href="http://materializecss.com/templates/starter-template/preview.html#!">Link 4</a></li>
          </ul-->
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container center">
      Create by <a class="orange-text text-lighten-3" href="">Unicaribe 2016</a>
      </div>
    </div>


  </footer>



  <!--  Scripts-->
  <script src="/materialize/template/jquery-2.1.1.min.js"></script>
  <script src="/materialize/template/materialize.js"></script>
  <script src="/materialize/template/init.js"></script>



<div class="hiddendiv common"></div><div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
</div>
</body></html>
