<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Iniciar sesión</strong>
    </div>
    <div class="panel-body">
      <div class="media">
        <a class="media-left" href="#">
          <img src="img/b.jpg" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kelly Hidayah</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          </p>
          <div class="ficon">
            <a href="" alt="">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
