<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>UnicaribePT - 2016 </title>

  <!-- CSS  -->
  <link href="/materialize/template/icon.css" rel="stylesheet">
  <link href="/materialize/template/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/template/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;jQuery&quot;:&quot;2.1.1&quot;}"><script type="text/javascript" src="chrome-extension://homgcnaoacgigpkkljjjekpignblkeae/detector.js"></script>
</head>

  <body>
    <%- partial ('header.ejs') %>

    <div class="row">

      <div class="col s3" style="border-right: 5px solid rgb(38, 107, 156); margin-top:70px; ">
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <%- partial ('layout-left.ejs') %>
          </div>
        </div>
      </div>

      <div class="col s9">
          <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <%- body %>
            </div>
          </div>
        </div>
      </div>


    <%- partial ('footer.ejs') %>


    <!--  Scripts-->
    <script src="/materialize/template/jquery-2.1.1.min.js"></script>
    <script src="/materialize/template/materialize.js"></script>
    <script src="/materialize/template/init.js"></script>
    <script src="/js/app.js"></script>
    <!--link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/overcast/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script-->
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <!--script src="/styles/jquery-1.10.2.js"></script-->
    <script src="/styles/jquery-ui.js"></script>

    <!--div class="hiddendiv common"></div><div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"-->
  </div>
  </body>
  </html>
