<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Unicaribe PT - 2016</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Bootstrap 3 template for corporate business" />
<meta name="author" content="http://iweb-studio.com" />
<!-- css -->
<link href="/theme-sailor/css/bootstrap.min.css" rel="stylesheet" />
<link href="/theme-sailor/plugins/flexslider/flexslider.css" rel="stylesheet" media="screen" />
<link href="/theme-sailor/css/cubeportfolio.min.css" rel="stylesheet" />
<link href="/theme-sailor/css/style.css" rel="stylesheet" />


<!-- Theme skin -->
<link id="t-colors" href="/theme-sailor/skins/default.css" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="/theme-sailor/bodybg/bg1.css" rel="stylesheet" type="text/css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>



<div id="wrapper">
	<!-- start header -->
	<header>
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<ul class="topleft-info">
								<li><img src="/images/logoUcaribe.png" alt="" width="160" height="60" /></li>
							</ul>
						</div>
            <div class="col-md-2">
                <a href="/es" id="lang-es" class="valign-wrapper">
                  <div class="col s2" style="float: left;">
                    <img src="/images/es.png" alt="" class="circle responsive-img" style="width: 30px;"> <!-- notice the "circle" class -->
                  </div>
                </a> <span class="black-text"> Español <span>
              </div>
              <div class="col-md-2">
                <a href="/es" id="lang-es" class="valign-wrapper">
                  <div class="col s2" style="float: left;">
                    <img src="/images/en.png" alt="" class="circle responsive-img" style="width: 30px;"> <!-- notice the "circle" class -->
                  </div>
                </a><span class="black-text"> Ingles <span>
						</div>
						<div class="col-md-4">
    						<div id="sb-search" class="sb-search topleft-info" >
    							<form>
    								<input class="sb-search-input" placeholder="Buscar.." type="text" value="" name="search" id="search">
    								<input class="sb-search-submit" type="submit" value="">
    								<span class="sb-icon-search" title="Click to start searching"></span>
    							</form>
    						</div>


						</div>
					</div>
				</div>
			</div>
      <!-- start header -->
      <%- partial ('header.ejs') %>
      <!-- end header -->
</header>
	<!-- end header -->
  <%- body %>

<%- partial ('footer.ejs') %>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/app.js"></script>
<script src="/theme-sailor/js/jquery.min.js"></script>
<script src="/theme-sailor/js/modernizr.custom.js"></script>
<script src="/theme-sailor/js/jquery.easing.1.3.js"></script>
<script src="/theme-sailor/js/bootstrap.min.js"></script>
<script src="/theme-sailor/plugins/flexslider/jquery.flexslider-min.js"></script>
<script src="/theme-sailor/plugins/flexslider/flexslider.config.js"></script>
<script src="/theme-sailor/js/jquery.appear.js"></script>
<script src="/theme-sailor/js/stellar.js"></script>
<script src="/theme-sailor/js/classie.js"></script>
<script src="/theme-sailor/js/uisearch.js"></script>
<script src="/theme-sailor/js/jquery.cubeportfolio.min.js"></script>
<script src="/theme-sailor/js/google-code-prettify/prettify.js"></script>
<script src="/theme-sailor/js/animate.js"></script>
<script src="/theme-sailor/js/custom.js"></script>
<script src="/jsPDF-1.2.60/jspdf.js"></script>
<script type="text/javascript">
		doc.text(20, 20, 'Hello world.');
		doc.save('Test.pdf');
</script>

</body>
</html>
