
<h1 class="text-center">PROYECTOS EN DESARROLLO</h1>
<div class="alert alert-warning alert-dismissible col-md-6 col-md-offset-3" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Advertencia!</strong> Los proyectos listados a continuación se encuentran en proceso de investigación y aún no se encuentran publicados.
</div>
  <!-- List group -->
 <div class="container-fluid">

<div class="row ">
  
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Proyecto de Inversión en una Planta Recicladora de PET  <span class="glyphicon glyphicon-asterisk"></span></h4></div>
  <div class="panel-body">
    <ul class="list-group">
    <li class="list-group-item"><h5>Autor   <span class="glyphicon glyphicon-user"</span></h5> Alfredo Argueta Amador</li>
    <li class="list-group-item"><h5>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5>Dr. Luis Felipe Juárez Valdés</li>
    <li class="list-group-item"><h5>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h5>Ingenieria Ambiental</li>
    <li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 20015 </li>
  </ul>
  </div>
</div>
</div>
</div>

<div class="row ">
  
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>D-SENSO: Sistema de ayuda al diseño de redes de sensores   <span class="glyphicon glyphicon-asterisk"></span></h4></div>
  <div class="panel-body">
    <ul class="list-group">
    <li class="list-group-item"><h5>Autor   <span class="glyphicon glyphicon-user"</span></h5> Hiram Avalos Peláez</li>
    <li class="list-group-item"><h5>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5>Dr. David Flores Granados</li>
    <li class="list-group-item"><h5>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h5>Ingenieria Telematica</li>
    <li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 20015 </li>
  </ul>
  </div>
</div>
</div>
</div>
<div class="row ">
  
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Manipulación de un robot tipo LEGO a través del Internet mediante la tecnología Jini   <span class="glyphicon glyphicon-asterisk"></span></h4></div>
  <div class="panel-body">
    <ul class="list-group">
    <li class="list-group-item"><h5>Autor   <span class="glyphicon glyphicon-user"</span></h5> Edgar Alday Gómez</li>
    <li class="list-group-item"><h5>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5>Dr. David Flores Granados</li>
    <li class="list-group-item"><h5>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h5>Ingenieria Telematica</li>
    <li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 20015 </li>
  </ul>
  </div>
</div>
</div>
</div>



<nav>
  <ul class="pager">
    <li><a href="#">Anterior</a></li>
    <li><a href="#">Siguiente</a></li>
  </ul>
</nav>




</div>