
<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="#">Admin</a><i class="icon-angle-right"></i></li>
        <li class="active">Index</li>
      </ul>
    </div>
  </div>
</div>
</section>
<section id="content">
<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <aside class="left-sidebar">
      <div class="widget">
        <form role="form">
          <div class="form-group">
          <input type="text" class="form-control" id="s" placeholder="Search..">
          </div>
        </form>
      </div>
      <div class="widget">
        <h5 class="widgetheading">Categories</h5>
        <ul class="cat">
          <li><i class="fa fa-angle-right"></i><a href="/admin/project/list">Proyectos</a><span></span></li>
          <li><i class="fa fa-angle-right"></i><a href="/admin/user/list">Usuarios</a><span></span></li>
          <li><i class="fa fa-angle-right"></i><a href="/admin/program/list">Programas</a><span></span></li>
          <li><i class="fa fa-angle-right"></i><a href="/admin/period/list">Periodos</a><span></span></li>
          <!--li><i class="fa fa-angle-right"></i><a href="#">Periodo</a><span></span></li-->
        </ul>
      </div>
      <div class="widget">
        <h5 class="widgetheading">Latest posts</h5>
        <ul class="recent">
          <li>
          <img src="img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
          <h6><a href="#">Lorem ipsum dolor sit</a></h6>
          <p>
             Mazim alienum appellantur eu cu ullum officiis pro pri
          </p>
          </li>
          <li>
          <a href="#"><img src="img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>
          <h6><a href="#">Maiorum ponderum eum</a></h6>
          <p>
             Mazim alienum appellantur eu cu ullum officiis pro pri
          </p>
          </li>
          <li>
          <a href="#"><img src="img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>
          <h6><a href="#">Et mei iusto dolorum</a></h6>
          <p>
             Mazim alienum appellantur eu cu ullum officiis pro pri
          </p>
          </li>
        </ul>
      </div>
      <div class="widget">
        <h5 class="widgetheading">Popular tags</h5>
        <ul class="tags">
          <li><a href="#">Web design</a></li>
          <li><a href="#">Trends</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Internet</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">Development</a></li>
        </ul>
      </div>
      </aside>
    </div>
    <div class="col-lg-8">
      <h3>Single left sidebar page title</h3>
      <img src="img/dummies/dummy-1200.jpg" alt="" class="img-responsive" />
      <p>
        En la actualidad existen varias universidades en el mundo que desarrollan colecciones digitales. Por ejemplo, NDLTD es una iniciativa para la creación de una biblioteca digital de tesis y disertaciones en la que participan más de 160 universidades al rededor del mundo. Otras organizaciones como la UNESCO apoyan también la creación de estas colecciones.
        Siendo uno de los principales objetivos de la Universidad la difusión del conocimiento y gracias a las ventajas de las nuevas tecnologías de información, la Biblioteca de la UDLAP ha implementando un sistema completo de búsqueda y consulta vía Web de las tesis de licenciatura y postgrado que se realicen en la institución. Nuestro proyecto contempla, entre otras, las siguientes ventajas:
      </p>
      <p>
        Disponibilidad. Las tesis estarán disponibles para toda la comunidad universitaria, no estarán restringidas a un número de copias, a un lugar físico o a un horario de consulta.
      </p>
      <p>
        Almacenamiento electrónico. No será necesario que los departamentos de la universidad almacenen el "documento".
        Servicios de búsqueda y navegación sobre la colección.
      </p>
    </div>
  </div>
</div>
</section>
