<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="#">Features</a><i class="icon-angle-right"></i></li>
        <li class="active">Register</li>
      </ul>
    </div>
  </div>
</div>
</section>
<section id="content">
<div class="container">

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" class="register-form" action="/project/create" method="post">
    <h2>Crear Proyecto <small> (Interno)</small></h2>
    <hr class="colorgraph">
    <div class="row">
      <div class="form-group">
            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Titulo" tabindex="2">
      </div>

      <div class="form-group">

        <select class="form-control input-lg" id="select" name="Project[program]">
          <option value="">Selecciona un programa</option>
            <% for(var i=0; i<programs.length; i++) { %>
                    <option value="<%= programs[i].id%>"><%= programs[i].name %></option>
            <% } %>
        </select>

        <!--select class="form-control input-lg" id="select">
          <option> Selecciona un programa educativo</option>
          <option>Ingenieria en Telematica</option>
          <option>Ingenieria Indrustrial</option>
          <option>Ingenieria en Logistica</option>
          <option>Ingenieria Ambiental</option>
        </select-->

      </div>
      <div class="form-group">
        <select class="form-control input-lg" id="select" name="Project[period]" required="true">
            <option value="">Selecciona un periodo</option>
            <% for(var i=0; i<periods.length; i++) { %>
                    <option value="<%= periods[i].id%>"><%= periods[i].name %></option>
            <% } %>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Autor 1" tabindex="1">
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Autor 2" tabindex="2">
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Autor 3" tabindex="2">
        </div>

    <div class="row">
      <div class="col-xs-8 col-sm-9 col-md-9">
         <strong class="label label-primary">By Admin</strong>
      </div>
    </div>

    <hr class="colorgraph">
    <div class="row">
      <div class="col-xs-12 col-md-6"><input type="submit" value="Save" class="btn btn-theme btn-block btn-lg" tabindex="7"></div>
    </div>
  </form>
</div>
</div>
</div>
</section>
