
<h4 class=" light center header">Create Program</h4>

<div class="card ">
  <form class="" action="/login" method="post">
    <div class="card-content">
            <span class="activator grey-text text-darken-4">Programa</span>
            <input name="title" type="text" class="validate" required="true">
            <p>
               <a class="modal-trigger" href="#modal1" ><%= __('create') %></a>
             </p>
     </div>     
  </form>
</div>
