<!-- Portfolio Projects -->
		<div class="container marginbot50">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Programas Educativos</h4>

				<div id="filters-container" class="cbp-l-filters-button">
					<div data-filter=".industrial" class="cbp-filter-item-active cbp-filter-item">Ingeniería Industrial<div class="cbp-filter-counter"></div></div>
					<div data-filter=".logistica" class="cbp-filter-item">Ingeniería en Logística y Cadena de Suministro<div class="cbp-filter-counter"></div></div>
					<div data-filter=".telematica" class="cbp-filter-item">Ingeniería en Telemática<div class="cbp-filter-counter"></div></div>
					<div data-filter=".ambiental" class="cbp-filter-item">Ingeniería Ambiental<div class="cbp-filter-counter"></div></div>
					
				</div>
				

				<div id="grid-container" class="cbp-l-grid-projects col 6 md 6 ">
					<ul >
						<li class="cbp-item industrial col 6 md 6">
							<div class="row col 6 md 6">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>															
						</li>
						<li class="cbp-item ambiental col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
						</li>
						<li class="cbp-item telematica col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
						</li>
						<li class="cbp-item industrial telematica col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>							</li>
						<li class="cbp-item logistica industrial col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
						</li>
						<li class="cbp-item logistica col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
						</li>
						<li class="cbp-item telematica col 6 md 6">
							<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
						</li>
						<li class="cbp-item industrial col 6 md 6">
							
								<div class="row ">
  
									<div class="col 6 md 6">
										<div class="panel panel-default">			
 				 <!-- Default panel contents -->
    									<div class="panel-heading"><h5>Proyecto de Inversión en una Planta Recicladora de PET</h5></div>
       										 <div class="panel-body">
            									<ul class="list-group">
               										 <li class="list-group-item"><h6>Autor   <span class="glyphicon glyphicon-user"</span></h6> Alfredo Argueta Amador</li>
                									 <li class="list-group-item"><h6>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6>Dr. Luis Felipe Juárez Valdés</li>
                									<li class="list-group-item"><h6>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6>Ingenieria Ambiental</li>
                									<li class="list-group-item">Cancun, Quintana Roo, México 19 de octubre de 2015 </li>
            									</ul>
       										 </div>
    									</div>
									</div>
								</div>	
							</li>
					</ul>
				</div>
				
				<div class="cbp-l-loadMore-button">
					<a href="ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
				</div>

			</div>
		</div>
		</div>
		
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->