
<h4 class="center-align">Proximos Externos</h4>

 <div class="card-panel red">
          <span class="white-text"> <h5 class="center">Aviso</h5>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Titulo del proyecto:</span>
     
     <div class="row">
       <div class="col s5">
         <p>Autor del proyecto: <br>
         Asesor: <br>
         Institucion: <br>
         Fecha de inicio: <br>  </p>
         <a class="waves-effect waves-light btn">button</a>
         <a class="waves-effect waves-light btn">button</a>
       </div>
       <div class="col s7">
        <div class="card-panel teal">
          <span class="white-text"> <h5>Descripcion</h5>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
       </div>
        <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Titulo del proyecto:</span>
     
     <div class="row">
       <div class="col s5">
         <p>Autor del proyecto: <br>
         Asesor: <br>
         Institucion: <br>
         Fecha de inicio: <br>  </p>
         <a class="waves-effect waves-light btn">button</a>
         <a class="waves-effect waves-light btn">button</a>
       </div>
       <div class="col s7">
        <div class="card-panel teal">
          <span class="white-text"> <h5>Descripcion</h5>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
       </div>



     </div>
     
      <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Titulo del proyecto:</span>
     
     <div class="row">
       <div class="col s5">
         <p>Autor del proyecto: <br>
         Asesor: <br>
         Institucion: <br>
         Fecha de inicio: <br>  </p>
         <a class="waves-effect waves-light btn">button</a>
         <a class="waves-effect waves-light btn">button</a>
       </div>
       <div class="col s7">
        <div class="card-panel teal">
          <span class="white-text"> <h5>Descripcion</h5>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
       </div>



     </div>
     
      <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Titulo del proyecto:</span>
     
     <div class="row">
       <div class="col s5">
         <p>Autor del proyecto: <br>
         Asesor: <br>
         Institucion: <br>
         Fecha de inicio: <br>  </p>
         <a class="waves-effect waves-light btn">button</a>
         <a class="waves-effect waves-light btn">button</a>
       </div>
       <div class="col s7">
        <div class="card-panel teal">
          <span class="white-text"> <h5>Descripcion</h5>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
       </div>



     </div>
     
  </ul>

  <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
            