
<div class="row">
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
           <div class="lefts"><h5>Búsqueda rápida</h5><br>
           </div>
           <form action="#">
           <div class="row">
                <div class="col s10">
                    <div class="input-field">

                         <textarea name="busqueda" id=" buscar" cols="4" rows="10" class="z-depth-2"></textarea>
                         <label for="busqueda"> Buscar... </label>
                     </div>
                </div>

                <div class="col s2">
                    <br>
                    <a href="#" class="btn blue">Ir</a>
                </div>
                <a href="#" class="right red-text"><h6>Búsqueda avanzada</h6></a>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <input type="radio" name="ascen" id="radio1">
                    <label for="radio1">Ascendente</label>
                    <input type="radio" name="descen" id="radio2">
                    <label for="radio2">Descendente</label>
                </div>
            </div>

            </form>


            </div>

            </div>
</div>
<div class="row">
  <div class="col s12 center-align">
<br>
        <div class="card blue-grey lighten-5">
             <br><h3>Resultados de la búsqueda</h3>
             <div class="card-content">
                 <div class="row">
                    <div class="col s12">

                    <div class="col s6">
                        <ul id="resultado1" class="left-align">
                            <li>Título: </li>
                            <li>Autor: </li>
                            <li>Fecha: </li>
                            <li>Programa educativo: </li>
                            <li>Descripción</li>
                        </ul>
                        <br>
                        <ul id="resultado2" class="left-align">
                            <li>Título: </li>
                            <li>Autor: </li>
                            <li>Fecha: </li>
                            <li>Programa educativo: </li>
                            <li>Descripción</li>
                        </ul>
                    </div>

                    <div class="col s6 "></div>
                        <ul id="resultado3" class="left-align">
                            <li>Título: </li>
                            <li>Autor: </li>
                            <li>Fecha: </li>
                            <li>Programa educativo: </li>
                            <li>Descripción</li>
                        </ul>
                        <br>
                        <ul id="resultado4" class="left-align">
                            <li>Título: </li>
                            <li>Autor: </li>
                            <li>Fecha: </li>
                            <li>Programa educativo: </li>
                            <li>Descripción</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

    </div>
</div>
